// Layout principale
main {
  // Desktop: spazio per la sidebar
  @media (min-width: 992px) {
    margin-left: 280px;
    min-height: 100vh;
  }

  // Mobile: spazio per la navbar e bottom nav
  @media (max-width: 991.98px) {
    margin-top: 70px;
    margin-bottom: 65px;
    min-height: calc(100vh - 135px);
  }

  padding: 2rem 0;

  // Pagina di login: nessun margine
  &.login-main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}